header {
  background-color: #b5c0c9;
  text-align: right;
}

h1 {
  color: #4d4c4f;
}

p {
  color: #777e7b;
}

aside {
  width: 20%;
  margin: 0;
  background-color: #cbd0d3;
  float: left;
}

h2 {
  color: #406598;
}

main {
  width: 80%;
  margin: 0;
  background-color: #dde2e3;
  float: left;
}

div {
  width: 500px;
  margin: 0 auto;
}

footer {
  background-color: #b6bdc0;
  clear: both;
}
